<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange-rates</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div class="wrapper">
        <%-include("header.ejs")%>
<div class="content">
    <h1>Válassz egy valutát!</h1>

    <form action="/chosen-currency" method="POST">
        <label for="currency">Valuta:</label>
        <select name="currency" id="currency">
            <% currencyList.forEach(cur => { %>
                <option value="<%= cur %>"
                    <%= (cur === selectedCurrency) ? 'selected' : '' %>
                >
                    <%= cur %>
                </option>
            <% }); %>
        </select>
        <button class="submit" type="submit">Kiválaszt</button>       
    <% if(locals.content && locals.content.conversion_rates) { %> 
    
        <h2 class="topmargin">Árfolyamok</h2>

        <a href="/chosen-currency/export?currency=<%= selectedCurrency %>" class="submit">
            CSV Export
        </a>
   
        <table class="currency-table" border="1">
            <thead>
                <tr>
                    <th>Valuta</th>
                    <th>Árfolyam</th>
                </tr>
            </thead>
            <tbody>
                <% for (let currencyCode in content.conversion_rates) { %>
                    <tr>
                        <td><%= currencyCode %></td>
                        <td><%= content.conversion_rates[currencyCode] %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>
</div>
</body>
<footer>
    <%-include("footer.ejs")%>
</footer>
</html>